<% layout ('partials/boiletplate.ejs') %>

    <h1 class='display-1'>Welcome to Yelp Camp!</h1>
    <div>
        <label for="all">Show all campgrounds:</label>
        <button class='btn btn-primary' id='all'><a href='/campgrounds'>Show</a></button>
    </div>
    <div>
        <label for="add">Add a new campground:</label>
        <button class='btn btn-primary' id='add'><a href='/campgrounds/new'>Add</a></button>
    </div>