<% layout ('partials/boiletplate.ejs') %>


    <div class='row justify-content-center'>
        <div class='col-6'>
            <h1 class='text-center display-5'>Add a new campground</h1>
            <form action='/campgrounds' method='POST' enctype='multipart/form-data' novalidate
                class='validation-required'>
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" aria-describedby="emailHelp" placeholder="Title"
                        name='title' required autocomplete='off'>
                    <div class="invalid-feedback">
                        Please include a title
                    </div>
                </div>
                <div class="form-group">
                    <label for="location">Location</label>
                    <input type="text" class="form-control" id="location" name='location' placeholder="Location"
                        required>
                    <div class="invalid-feedback">
                        Please include the location
                    </div>
                </div>
                <div class="form-group">
                    <!--<label for="image">Image url</label>
                    <input type="text" class="form-control" id="image" name='image' placeholder="Image" required>-->
                    <input type="file" name="image" id="image" multiple>
                    <div class="invalid-feedback">
                        Please include an image of the campground
                    </div>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class='form-control' name="description" id="description" placeholder='Description'
                        cols="30" rows="5" required></textarea>
                    <div class="invalid-feedback">
                        Please include a description
                    </div>
                </div>
                <div class="form-group">
                    <label for="price">Price</label>
                    <input type="text" class="form-control" min='0' step='1' id="price" name='price' placeholder="Price"
                        required>
                    <div class="invalid-feedback">
                        Please include the price for a night
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-2">
                        <button type="submit" class="mt-2 btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>