<% layout ('partials/boiletplate.ejs') %>


    <div class='row justify-content-center'>
        <div class='col-6'>
            <h1 class='text-center display-5'>Login</h1>
            <form action='/login' method='POST' novalidate class='validation-required'>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" aria-describedby="username"
                        placeholder="Username" name='username' required autocomplete='off'>
                    <div class="invalid-feedback">
                        Please include a username
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name='password' placeholder="Password"
                        required>
                    <div class="invalid-feedback">
                        Please include a password
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="text-center">
                        <button type="submit" class="mt-2 btn btn-primary">Login</button>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="text-center">
                        <a href="/register">New? Sign up here</a>
                    </div>
                </div>
            </form>
        </div>
    </div>