<% layout ('partials/boiletplate.ejs') %>


    <div class='row justify-content-center'>
        <div class='col-6'>
            <h1 class='text-center display-5'>Register</h1>
            <form action='/register' method='POST' novalidate class='validation-required'>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" aria-describedby="username" placeholder="Email"
                        name='email' required autocomplete='off'>
                    <div class="invalid-feedback">
                        Please include an e-mail
                    </div>
                </div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" aria-describedby="username"
                        placeholder="Username" name='username' required autocomplete='off'>
                    <div class="invalid-feedback">
                        Please include a username
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name='password' placeholder="Password"
                        required>
                    <div class="invalid-feedback">
                        Please include a password
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-2">
                        <button type="submit" class="mt-2 btn btn-primary">Register</button>
                    </div>
                </div>
            </form>
        </div>
    </div>