.inline {
    display:inline;
}

form div {
    margin-bottom: 10px;
}

button a,button a:hover {
    color: white;
    text-decoration: none;
}

.navbar, .footer {
    background-color: #2D2424;
}

footer div span {
    color:white;
}

#camp-img {
    max-height:500px;
    width: auto;
    max-width:400px;
}

div.mt button {
    margin-bottom: 10px;
    margin-top: 10px;
}

.annoying-button {
    position: relative;
    left: 330px;
}

 .review-body {
     word-wrap: break-word
 }

 #body-div {
     margin-top: 80px;
 }